* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app_wrapper {
  width: 800px;
}

.head {
  text-align: center;
}
.page__wrapper {
  margin-top: 30px;
  display: flex;
}
.page {
  padding: 5px 15px;
  color: orange;
  font-size: 14px;
  background: transparent;
  border: 1px solid orange;
  cursor: pointer;
}
.page__current {
  border: 3px solid blue;
  font-weight: bold;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: paleturquoise;
}

.navbar__items {
  margin-left: auto;
}
